.container{
    background-color: rgb(16, 222, 153);
/* An example of inheritance - class Container which is the parent extend's it
properties to the child */
}

.likes{
    /* background-color: rgb(16, 222, 153); */
    color: blue;
        /* Because id items is more specific, the color blue will not be displayed on the text */
}
#items{
    color: #ff0000;
    font-family: Tahoma;
    font-size: medium;
    font-weight: lighter;
}
.dislikes{
    font-size: medium;
    font-style: italic;
    font-weight: lighter;
    /* background-color: bisque; */
}
.thick-dots{
    color: brown;
}


body{
    background-color: aquamarine;
}

.pretty {
    padding: 10px 10px;
    margin: 20px 20px;
    border: 1px solid rgb(126, 9, 9);
    font-size: 14px;
    background-color: white;  
}

.about-me{
    color: green;
}

.knowledge{
    color: red;
}

.differences{
    color: blue;
}
/*.heading{
    font-size:18px;
}
*/